{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ member['fullname'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" placeholder="Full Name" class="form-control" value="{{ request.form['fullname'] or member['fullname'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea name="bio" placeholder="Member Bio" class="form-control">{{ request.form['bio'] or member['bio'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', member_id=member['id']) }}" method="POST">
    <input type="submit" value="Delete Member" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this member?')">
</form>
{% endblock %}